<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
  
  <form>
		<ul data-role="listview" data-inset="true">
			<li data-role="fieldcontain">
	        	<label for="task-new-taskname">Task Name:</label>
	        	<input type="text" name="task-new-taskname" id="task-new-taskname"/>
			</li>
			<li data-role="fieldcontain">

	        	<label for="task-new-taskdescription">Description:</label>
			<textarea cols="40" rows="8" name="task-new-taskdescription" id="task-new-taskdescription"></textarea>
			</li>
			
			<li data-role="fieldcontain">
			    <fieldset data-role="controlgroup" data-type="horizontal">
			     	<legend>Priority:</legend>

			         	<input type="radio" name="task-new-priority" id="task-new-priority-low" value="low" />
			         	<label for="task-new-priority-low">Low</label>
			         	<input type="radio" name="task-new-priority" id="task-new-priority-medium" value="medium" checked="checked" />
			         	<label for="task-new-priority-medium">Medium</label>
			         	<input type="radio" name="task-new-priority" id="task-new-priority-High" value="High" />
			         	<label for="task-new-priority-High">High</label>
			    </fieldset>
			</li>

			<li data-role="fieldcontain">
				<label for="task-new-startdate">Start Date</label>
				<input name="task-new-startdate" id="task-new-startdate" type="date" data-role="datebox"
   			data-options='{"mode": "calbox", "calTodayButton": true}'>
   		</li>
   		
   		<li data-role="fieldcontain">
   				<label for="task-new-starttime">Start Time</label>
					<input name="task-new-starttime" id="task-new-starttime" type="date" data-role="datebox"
   				data-options='{"mode": "timebox", "timeFormatOverride": 12}'>
   		</li>
   		
   		<li data-role="fieldcontain">
					<label for="task-new-enddate">End Date</label>
					<input name="task-new-enddate" id="task-new-enddate" type="date" data-role="datebox"
   				data-options='{"mode": "calbox", "calTodayButton": true}'>
   		</li>
   		
   		<li data-role="fieldcontain">
   				<label for="task-new-endtime">End Time</label>
					<input name="task-new-endtime" id="task-new-endtime" type="date" data-role="datebox"
   				data-options='{"mode": "timebox", "timeFormatOverride": 12}'>
   		</li>
   		

			<li class="ui-body ui-body-b">
				<fieldset class="ui-grid-a">
						<div class="ui-block-b"><button type="submit" data-theme="a">Create</button></div>
			    </fieldset>
			</li>
			
		</ul>
		
		</form>

  <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->

  <div data-role="fieldcontain">
    <%= f.text_field :name, :placeholder => "Task Name" %>
  </div>
  <div class="field">
    <%= f.label :startdate %><br />
    <%= f.datetime_select :startdate %>
  </div>
  <div class="field">
    <%= f.label :enddate %><br />
    <%= f.datetime_select :enddate %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
