<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
<!--  

-->  

  
  <form>
		<ul data-role="listview" data-inset="true">
	   <!-- TASK NAME -->
			<li data-role="fieldcontain">
				<%= f.label :name, "Task Name", :"for" => "task-new-taskname" %>
				<%= f.text_field :name, :id => "task-new-taskname", :placeholder => "Task Name" %>
			</li>
			
       <!-- DESCRIPTION -->
			<li data-role="fieldcontain">
				<%= f.label :name, "Description", :"for" => "task-new-taskdescription" %>
				<%= f.text_area :notes, :id => "task-new-taskdescription", :placeholder => "No Description" %>
			</li>
			
		<!-- PRIOTITY -->
			<li data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal">
				<legend>Priority</legend>
				
				<input type="radio" name="task-new-priority" id="task-new-priority-low" value="0" />
				<%= f.label :name, "Low", :"for" => "task-new-priority-low" %>
						
				<input type="radio" name="task-new-priority" id="task-new-priority-medium" value="1" checked="checked" />
				<%= f.label :name, "Medium", :"for" => "task-new-priority-medium" %>

				
				<input type="radio" name="task-new-priority" id="task-new-priority-high" value="2" />
				<%= f.label :name, "High", :"for" => "task-new-priority-high" %>
					
			    </fieldset>
				<%# f.number_field :priority %>
			</li>
			
			
		<!-- CATEGORIES -->

			
			
		<!-- START DATE -->
			<li data-role="fieldcontain">
				<%= f.label :name, "Start Date", :"for" => "task-new-startdate" %>
				<input name="task-new-startdate" id="task-new-startdate" type="date" data-role="datebox"
					   data-options='{"mode": "calbox", "calTodayButton": true}'>
				<%# f.datetime_select :startdate, :type => "date", "data-role" => "datebox" %>  		
			</li>	
			
		<!-- END DATE -->
			<li data-role="fieldcontain">
				<%= f.label :name, "End Date", :"for" => "task-new-enddate" %>
				<input name="task-new-enddate" id="task-new-enddate" type="date" data-role="datebox"
					   data-options='{"mode": "calbox", "calTodayButton": true}'>
				<%# f.datetime_select :enddate %>
			</li>
		
	<!-- CREATE-->
			<li class="ui-body ui-body-b">
				<fieldset class="ui-grid-a">
						<%= f.submit :value => 'Create' %>
			    </fieldset>
			</li>
			
		</ul>
		
		</form>

  <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->

<% end %>
