<h1>Tasks</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Due</th>
    <th>Description</th>
    <th>Priority</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.name, task_path(task) %></td>
    <td><%= task.formatted_time %></td>
    <td><%= task.description %></td>
    <td><%= task.task_priority.name %></td>
    <td><%= task.task_status.name %></td>
    <% if self.current_project.administrators.include?(self.current_user) %>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Delete', task, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path, :class => "btn" %>
