<%= link_to "New Task", new_task_path, :"data-role" => "button" %>
<br>

<ul data-role="listview" data-inset="true">
<% @tasks.each do |task| %>
   <li><a href= "<%= "/tasks/#{task.id}" %>">

                <h3><%= task.name %></h3>
                <p><strong><% if task.status == 0 %>Pending<% elsif task.status == 1 %>Completed<% end %></strong></p>
                <p><% if task.priority == 0 %>Low Priority<% elsif task.priority == 1 %>High Priority<% end %></p>
                <p><strong><%= task.formatted_startdate %> - <%= task.formatted_enddate %></strong></p>

            </a></li>
<% end %>
</ul>
