
<p id="notice"><%= notice %></p>
<div class="offset3">
  <p>
    <h1><%= @task.name %></h1>
  </p>
  <p>
    <b>Owner:</b>
    <%= @task.owner %>
  </p>
  <p>
    <b>Due:</b>
    <%= @task.formatted_time %>
  </p>

  <p>
    <b>Description:</b>
    <%= @task.description %>
  </p>

  <p>
    <b>Priority:</b>
    <%= @task.task_priority %>
  </p>

  <p>
    <b>Status:</b>
    <%= @task.task_status %>
  </p>

  <p>
    <b>Participants:</b>
    <ul>
      <% @task.users.all.each do |user| %>
        <li> <%= user.name %> </li>
      <% end %>
    </ul>
  </p>

  <%= link_to 'Mark Complete', mark_task_complete_path(@task.id), :class => "btn btn-primary"%>

  <% if self.current_project.administrators.include?(self.current_user) %>
  <%= link_to 'Edit', edit_task_path(@task), :class => "btn" %>
  <% end %>
</div>