    <ul data-role="listview" data-inset="true">
     <!-- TASK NAME -->
     <li data-role="fieldcontain">
      <p>Task Name</p>
      <h3><%= @task.name %></h3>
    </li>

    <!-- DESCRIPTION -->
    <li data-role="fieldcontain">
      <p>Description</p>
      <h3><%= @task.description %></h3>
    </li>

    <!-- PRIORITY -->
    <li data-role="fieldcontain">
      <p>Priority</p>
      <h3><%= @task.task_priority %></h3>
    </li>


    <!-- CATEGORIES -->

    <li data-role="fieldcontain">
      <p>Task Categories</p>
      <div>
        <% for task_category in @task.task_categories.each do %>
        <h3><%= task_category.name %></h3>
        <% end %>
      </div>
    </li>

    <!-- ASSIGNEES -->

    <li data-role="fieldcontain">
      <p>Assignees</p>
      <div>
        <% for user in @task.users.each do %>
        <h3><%= user.name %></h3>
        <% end %>
      </div>
    </li>

    <!--  TIME -->
    <li data-role="fieldcontain">
      <p>Start Time</p>
      <h3><%= @task.formatted_time %></h3>
    </li>

    <!-- EDIT-->
    <li data-role="fieldcontain">
      <fieldset class="ui-grid-a">
        <div class="ui-block-a"><a href= <%= edit_task_path(@task) %> data-role="button" data-theme="c">Edit</a></div>
        <div class="ui-block-b"><%= button_to "Delete", @task, :"data-theme" => "delete", :method => :delete %></div>
      </fieldset>
    </li>



  </ul>