<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Time:</b>
  <%= @task.formatted_time %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Priority:</b>
  <%= @task.task_priority %>
</p>

<p>
  <b>Status:</b>
  <%= @task.task_status %>
</p>

<%= link_to 'Mark Complete', mark_task_complete_path(@task.id) %> |

<% if self.current_project.administrators.include?(self.current_user) %>
<%= link_to 'Edit', edit_task_path(@task) %> |
<% end %>
<%= link_to 'Back', tasks_path %>
