    <ul data-role="listview" data-inset="true">
     <!-- TASK NAME -->
      <li data-role="fieldcontain">
        <p>Task Name</p>
        <h3><%= @task.name %></h3>
      </li>
      
       <!-- DESCRIPTION -->
      <li data-role="fieldcontain">
        <p>Description</p>
        <h3><%= @task.notes %></h3>
      </li>
      
    <!-- PRIORITY -->
      <li data-role="fieldcontain">
        <p>Priority</p>
        <h3><% if @task.priority == 0 %>Low<% elsif @task.priority == 1 %>High<% end %></h3>
      </li>
      
      
    <!-- CATEGORIES -->

      <li data-role="field-contain">
          <fieldset data-role="controlgroup">
            <% for task_category in TaskCategory.find(:all) %>
              <div>
                <%= check_box_tag "task[task_categories][]", task_category.id, false %>
                <%= task_category.name %>
              </div>
            <% end %>
          </fieldset>
      </li>
      
    <!-- START DATE TIME -->
      <li data-role="fieldcontain">
        <p>Start Time</p>
        <h3><%= @task.startdate %></h3>
      </li>

    <!-- END DATE TIME -->
      <li data-role="fieldcontain">
        <p>End Time</p>
        <h3><%= @task.enddate %></h3>
      </li>
    
  <!-- EDIT-->
      <li data-role="fieldcontain">
            <fieldset class="ui-grid-a">
              <div class="ui-block-a"><a href= <%= edit_task_path(@task) %> data-role="button" data-theme="c">Edit</a></div>
              <div class="ui-block-b"><%= button_to "Delete", @task, :"data-theme" => "a", :method => :delete %></div>
            </fieldset>
      </li>


      
    </ul>