<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @reminder.name %>
</p>

<p>
  <b>Time:</b>
  <%= @reminder.time %>
</p>

<p>
  <b>Description:</b>
  <%= @reminder.description %>
</p>

<p>
  <b>Needs response:</b>
  <%= @reminder.needs_response %>
</p>


<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
