<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert-message block-message error">
      <h2><%= pluralize(@user.errors.count, "error") %>!</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Beta Tester" %>
  </div>
  <br>
  <div class="field">
    <%= f.email_field :email, :placeholder => "ExcitedUser@gmail.com"%>
  </div>
  <br>
  <div class="actions">
    <%= f.submit value="Sign Up" %>
  </div>
<% end %>
