<%= form_for(:user ) do |f| %>

  <ul data-role="listview" data-inset="true">
    <li data-role="fieldcontain">
      <label for="users-new-form-form-name">Name: </label>
      <%= f.text_field :name, :id => "users-new-form-form-name", :placeholder => "John Smith" %>
    </li>
    <li data-role="fieldcontain">
      <label for="users-new-form-form-email">Email: </label>
      <%= f.text_field :email, :id => "users-new-form-form-email", :placeholder => "producer@stagecoach.com" %>
    </li>
    <li data-role="fieldcontain">
      <label for="users-new-form-form-phonenumber">Phone: </label>
      <%= f.text_field :phonenumber, :id => "users-new-form-form-phonenumber", :placeholder => "producer@stagecoach.com" %>
    </li>
    <li data-role="fieldcontain">
      <label for="users-new-form-form-smartphone">Do you have a smartphone?</label>
      <%= f.check_box :smartphone , :id => "users-new-form-form-smartphone" %>
    </li>
    <li class="ui-body ui-body-b">
				<fieldset class="ui-grid-a">
						<%= f.submit :value => 'Create Account' %>
			    </fieldset>
			</li>
  </ul>
<% end %>