<%= form_for(:user) do |f| %>


<div>
    
    <div>
        <a style="width: 5px;" >
          <%= image_tag "mobile/picframe1.png" , :size => "110x109",  :id => "profimga" %>
        </a>
      <div align="left" style="width: 250px">
        <strong>  <%= f.label :name, self.current_user.name %> </strong>
          <br>
        <button>
        <a href="self.current_user.email" class="email-link">
              <%= f.label :email, self.current_user.email %>
        </a>
        </button>
          
        <button>  
          <a href="self.current_user.phonenumber" 2class="phone-link">
               <%= f.label :email, self.current_user.phonenumber %>
          </a>
        </button>
      </div>
    </div>
    
</div> 
  
<% end %>


<%= link_to "Edit Profile", edit_user_path(current_user), :"data-role" => "button" %>
<%= image_tag "http://graph.facebook.com/#{self.current_user.authorization.uid}/picture?type=normal", :id => "profimgb", :size => "100x100"%>