<%= form_for(@user, :html => {:id => "users-signup-form-form"} ) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert-message block-message error">
      <h2><%= pluralize(@user.errors.count, "error") %>!</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="clearfix">
    <div class="input">
      <%= f.text_field :name, :placeholder => "John Smith",  :value => params[:name] %>
      <span class="help-inline"  id="users-signup-form-name-help">Your name must be greater than 4 characters!</span>
    </div>
  </div>
  <br>
  <div class="clearfix">
    <div class="input">
      <%= f.text_field :email, :placeholder => "ExcitedUser@gmail.com" %>
      <span class="help-inline" id="users-signup-form-email-help">Check your email!</span>
    </div>
  </div>
  <br>
  <div class="actions span10" id="users-signup-form-submitdiv">
    <%= f.submit value="Sign Up", :id => "users-signup-form-submit" %>
  </div>
<% end %>
