<p id="notice"><%= notice %></p>

<p>
  <h1><%= @user.name %> </h1>
  <% unless @user.google_user_information.profile_picture.nil? %>
  <%= image_tag @user.google_user_information.profile_picture %>
  <% end %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phonenumber %>
</p>


<%= link_to "Invite to #{self.current_project}", h(new_invitation_path + "?" + {:user => @user.id}.to_query) %>