<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phonenumber:</b>
  <%= @user.phonenumber %>
</p>

<p>
  <b>Smartphone:</b>
  <%= @user.smartphone %>
</p>

<p>
  <b>Activated:</b>
  <%= @user.activated %>
</p>


<%= link_to "Invite to #{self.current_project}", h(new_invitation_path + "?" + {:user => @user.id}.to_query) %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
