<p id="notice"><%= notice %></p>

<p>
  <h1><%= @user.name %> </h1>

</p>
<p>
   <%= image_tag profile_picture_url, :class => "thumbnail span2"%>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phonenumber %>
</p>


<%= link_to "Invite to #{self.current_project}", h(new_invitation_path + "?" + {:user => @user.id}.to_query) %>