<p id="notice"><%= notice %></p>

<p>
  <h1><%= @user.name %> </h1>
  	<%= image_tag profile_picture_url, :id => "user-show-profile-picture" %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phonenumber %>
</p>

<% unless @user.projects.include?(self.current_project) %>
	<%= link_to "Invite to #{self.current_project}", h(new_invitation_path + "?" + {:user => @user.id}.to_query) %>
<% end %>
<% if @user == self.current_user %>
	<%= link_to "Edit Profile", edit_user_path(self.current_user) %>
<% end %>