<h1>Our Story</h1>
<p>Through extensive market research and interviews with industry players, such as production managers, executive assistants at studios, production firms, and finance professionals, we discovered a valuable opportunity to improve the production process through enhanced communication and coordination tools. We found that the current process is grounded in archaic processes that result in numerous on (and off) set inefficiencies. Our team assembled though a combination of luck, fate, and love for collecting circa 1830's Elgin pocket watches.</p>
<h1>The Crew</h1>
<!-- Gabriel Brotman !-->
<div class="row home-about-rowclass">
  <div class="span5">
    <%= image_tag "bio/jonathan.png", :class => "thumbnail", :height => 150, :width => 150 %>
  </div>
  <div class="span11 home-about-blockquote" >
    <blockquote>
      <p>Gabe is a fourth-year Communication Studies and American Studies student at Northwestern University. Despite a lifelong battle with coding illiteracy, he is passionate about developing and launching great products that make people’s day a little easier. Gabe's an avid news junkie, and has worked in business development, research, and sales and marketing at several media and communications companies.</p>
      <small>Gabriel Brotman</small>
    </blockquote>
  </div>
</div>

<!-- Taylor Culbertson !-->
<div class="row home-about-rowclass">
  <div class="span5">
    <%= image_tag "bio/taylor.png", :class => "thumbnail", :height => 150, :width => 150 %>
  </div>
  <div class="span11 home-about-blockquote" >
    <blockquote>
      <p>Taylor is loose cannon programmer, director and VFX artist who is out to revolutionize the way visual media is consumed by the masses.  From Pittsburgh, he’s worked heavily in both entrepreneurial start-ups and film; helping to develop “Synthetic Interview” technology at GetAbby, creating interactive children’s applications that teach programming skills at Northwestern, and directing a 60-person crew in <i>Cadence</i>, which strove weave modern VFX within a classic Greek narrative.</p>
      <small>Taylor Culbertson</small>
    </blockquote>
  </div>
</div>

<!-- Chris Erwin !-->
<div class="row home-about-rowclass">
  <div class="span5">
    <%= image_tag "bio/ryan.png", :class => "thumbnail", :height => 150, :width => 150 %>
  </div>
  <div class="span11 home-about-blockquote" >
    <blockquote>
      <p>Chris likes tech startups. He also likes product management, business development and marketing strategy. A former banker from New York City, Chris eventually saw the entrepreneurial light and came over to the other side. He’s also trying to learn Python and asks his team members way too many questions about recursive programming. A graduate of Tufts University, Chris is now hoping to finish up at the Kellogg School of Management in June (fingers crossed).</p>
      <small>Chris Erwin</small>
    </blockquote>
  </div>
</div>

<!-- Jonathan Friedman !-->
<div class="row home-about-rowclass">
  <div class="span5">
    <%= image_tag "bio/jonathan.png", :class => "thumbnail", :height => 150, :width => 150 %>
  </div>
  <div class="span11 home-about-blockquote" >
    <blockquote>
      <p>Jon is an entrepreneur and programmer with one successful business under his belt. His passion for tinkering has led to several websites, applications and even free laundry. Given the choice, Jon would pick soup over salad, Vim over Emacs, Xbox over Playstation, and sun over snow. With luck, he will finish a joint BA/MS degree in computer science around June 2013.</p>
      <small>Jonathan Friedman</small>
    </blockquote>
  </div>
</div>

<!-- Scottie Gambill !-->
<div class="row home-about-rowclass">
  <div class="span5">
    <%= image_tag "bio/gabe.png", :class => "thumbnail", :height => 150, :width => 150 %>
  </div>
  <div class="span11 home-about-blockquote" >
    <blockquote>
      <p>Scottie is the token female on the team. She has a Computer Engineering degree that has been on a shelf while she has worked in finance, product management and innovation consulting over the past five years. In her free time she loves photography, traveling, and creating kick-ass film production management software. She is currently wrapping up receiving her MBA from the Kellogg School of Management. </p>
      <small>Scottie Gambill</small>
    </blockquote>
  </div>
</div>

<!-- Kashif Malik !-->
<div class="row home-about-rowclass">
  <div class="span5">
    <%= image_tag "bio/kashif.png", :class => "thumbnail", :height => 150, :width => 150 %>
  </div>
  <div class="span11 home-about-blockquote" >
    <blockquote>
      <p>Kashif is officially an Electrical Engineer, but his passion lies in so many areas besides that. He runs a VFX studio that specializes in all things film, whilst also working at a robotics lab dealing with mechatronics. He loves steak and long walks on the beach. His biggest passion perhaps is being his own boss, which puts him in a great position working on this startup with the team.</p>
      <small>Kashif Malik</small>
    </blockquote>
  </div>
</div>

<!-- Ryan McAfee !-->
<div class="row home-about-rowclass">
  <div class="span5">
    <%= image_tag "bio/ryan.png", :class => "thumbnail", :height => 150, :width => 150 %>
  </div>
  <div class="span11 home-about-blockquote" >
    <blockquote>
      <p>Ryan has long been obsessed with entrepreneurship. He is a sophomore computer science undergraduate at Northwestern University, and hopes this new opportunity will give him a good reason to drop out and champion the start-up path instead (he acknowledges that successful business-people who drop out of college are way more bad-ass and get all the ladies).</p>
      <small>Ryan McAfee</small>
    </blockquote>
  </div>
</div>

<!-- Gabriel Peal !-->
<div class="row home-about-rowclass">
  <div class="span5">
    <%= image_tag "bio/gabe.png", :class => "thumbnail", :height => 150, :width => 150 %>
  </div>
  <div class="span11 home-about-blockquote" >
    <blockquote>
      <p>Gabriel Peal is an Electrical Engineering student at Northwestern University. He has a passion for consumer technology and is a firm believer that you can't over estimate the importance of user experience. He has worked as a software developer for General Motors, XFI Corporation, and the National Institutes of Health. He has lived in San Francisco and Washington DC, but currently lives in Chicago. </p>
      <small>Gabriel Peal</small>
    </blockquote>
  </div>
</div>


