<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Say goodbye to wasted production time.</h1>
  <br>
  <div class="row">
    <div class="span6">
      <p>Stagecoach is a multiplatform solution to on- and off-set task management for film productions. Our goal is to provide tools to organize your production efforts: reducing frustration, increasing transparency, and saving time and money.</p>
      <p><%= link_to "Get Notified When We Launch".html_safe, signup_path, :class => "btn btn-primary btn-large", :id => "home-index-private-alpha-button" %></p>
    </div>
    <div>
      <%= image_tag "home/landing_page.jpg", :height => 190, :width => 333, :style => "padding-left: 25px;" %>
    </div>
    <br>
  </div>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h2>Our Product</h2>
    <p>
    With Stagecoach’s modular mobile app, the “fuel” that drives the set is at the tip of managers’ fingers:
    <ul>
      <li>Integrate your task lists</li>
      <li>Track task progress in real time</li>
      <li>Sync daily call sheets and contacts across production crew</li>
      <li>Quickly communicate changes and issues with appropriate team members</li>
      <li>Built on a secure, open-source platform to enable ongoing customization</li>
    </ul>
    </p>
    <%= ab_test("sign_up_test", [ 'Sign Up For Our Private Alpha &raquo;', 'Sign Up To Be An Alpha Tester &raquo;' ]) do |click| %>
      <p><%= link_to click.html_safe, signup_path, :class => "btn" %></p>
    <% end %>
  </div>
  <div class="span6">
    <h2>Our Plan</h2>
    <p>The first version of our modular mobile app will focus on one primary feature: schedule and notification coordination among project teams. Our team has found this to be a common pain point for our interview subject, and we have prioritized the development and testing of this first module. As we approach our initial user testing, we will develop modular “add-on” applications that cater to an increasing array of film and television production team needs.
    </p>
    <p>We highly value any user feedback, criticisms and support as we put our heads down and intend to rock the foundation of the media production process. We will be working hard in the next few months and we are super excited for our alpha launch. Sign up to be one of our alpha testers here [one of a few links to email signup page] and find us on twitter here. </p>
    <p><%= link_to "Learn about the Stagecoach Team &raquo;".html_safe, about_path, :class => "btn" %> </p>
  </div>
</div>
