<ul data-role="listview">
    <li>
      <%= link_to "Create a Task", new_task_path %>
    </li>
    <li>
      <%= link_to "View Tasks", task_categories_path %>
    </li>
    <li>
      <%= link_to "Users", user_roles_path %>
    </li>
    <li>
      <%= link_to "View Profile", current_user %>
    </li>
	<li>
      <%= link_to "Create a Project", new_project_path %>
    </li>
    <li>
      <%= link_to "View My Projects", projects_path %>
    </li>
    <li>
      <%= link_to "Join a Project", join_project_path %>
    </li>
</ul>