<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Say goodbye to wasted production time.</h1>
  <br>
  <div class="row">
    <div class="span6">
      <p>Stagecoach is the first multi-platform app to organize film production efforts on-set: reducing frustration, increasing transparency, and saving time and money.</p>
      <p><%= link_to "Get Notified When We Launch".html_safe, signup_path, :class => "btn btn-primary btn-large", :id => "home-index-private-alpha-button" %></p>
    </div>
    <div>
      <%= image_tag "home/landing_page.jpg", :height => 190, :width => 333, :id => "home-index-landingjpg" %>
    </div>
    <br>
  </div>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h2>Our Product</h2>
    <p>
    With Stagecoach’s modular mobile app, the “fuel” that drives the set is at the tip of managers’ fingers:
    <ul>
      <li>Integrate your task lists</li>
      <li>Track task progress in real time</li>
      <li>Sync daily call sheets and contacts across production crew</li>
      <li>Quickly communicate changes and issues with appropriate team members</li>
      <li>Built on a secure, open platform to enable ongoing customization</li>
    </ul>
    </p>
    <%= ab_test("sign_up_test", [ 'Sign Up For Our Private Alpha &raquo;', 'Sign Up To Be An Alpha Tester &raquo;' ]) do |click| %>
      <p><%= link_to click.html_safe, signup_path, :class => "btn" %></p>
    <% end %>
  </div>
  <div class="span6">
    <h2>Our Plan</h2>
    <p></p></p>
    <p><%= link_to "Learn about the Stagecoach Team &raquo;".html_safe, about_path, :class => "btn" %> </p>
  </div>
</div>
