<fieldset class="menu-grid-row container_12">
    <div class="grid_4">
        <%= link_to image_tag("mobile/home/tasks_small.png", :class => "menu-grid-icon"), task_menu_path %>
        <div class="menu-grid-icon-text">
            Tasks
        </div>  
    </div>  
    <div class="grid_4">
        <%= link_to image_tag("mobile/home/assets_small.png", :class => "menu-grid-icon"), root_path %>
        <div class="menu-grid-icon-text">
            Assets
        </div> 
    </div>  
    <div class="grid_4">
        <%= link_to image_tag("mobile/home/schedule_small.png", :class => "menu-grid-icon"), root_path %>
        <div class="menu-grid-icon-text">
            Schedule
        </div> 
    </div>  
</fieldset>  
<fieldset class="container_12 menu-grid-row">
    <div class="grid_4">
        <%= link_to image_tag("mobile/home/contacts_small.png", :class => "menu-grid-icon"), users_path %>
        <div class="menu-grid-icon-text">
            Contacts
        </div> 
    </div>  
    <div class="grid_4">
        <%= link_to image_tag("mobile/home/profile_small.png", :class => "menu-grid-icon"), self.current_user %>
        <div class="menu-grid-icon-text">
            Profile
        </div> 
    </div>  
    <div class="grid_4">
        <%= link_to image_tag("mobile/home/projects_small.png", :class => "menu-grid-icon"), project_menu_path %>
        <div class="menu-grid-icon-text">
            Projects
        </div> 
    </div>  
</fieldset>  
<fieldset class="container_12">
    <div class="grid_4">
        <%= link_to image_tag("mobile/home/settings_small.png", :class => "menu-grid-icon"), root_path %>
        <div class="menu-grid-icon-text">
            Settings
        </div> 
    </div>  
</fieldset>  