<%= render "add_user_modal" %>
<h1>New invitation</h1>

<%= form_for(@invitation, :html => { :id => "invitations-new-form" }) do |f| %>
	<%= f.hidden_field :from_user, :value => @invitation.from_user, :data => { :"user-id" => (@invitation.from_user.id rescue 0) } %>
	<div class="field">
		<%= f.hidden_field :to_user, :id => "invitations-new-to-user-id" %>
		<%= label_tag :to_user_name, "To" %>
		<%= text_field_tag :to_user_name, nil, :id => "invitations-new-to-user-name", :disabled => true %>
		<button class="btn" id="invitations-new-add-user-button" type="button">
			<i class="icon-plus icon-white"></i>
		</button>
	</div>
	<div class="field">
		<%= f.label :body, "Message" %>
		<%= f.text_area :body, :id => "invitations-new-body" %>
	</div>
	<%= f.hidden_field :project_id, :value => self.current_project.id %>
	<div class="actions">
		<%= f.submit "Send Invitation", :class => "btn" %>
	</div>
<% end %>


<%= link_to 'Back', invitations_path %>
