  <%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
      <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="offset2">
      <%= f.text_field :name, :placeholder => "Project Name" %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="offset2">
      <%= f.password_field :password, :placeholder => "Project Password" %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="offset2">
      <%= f.submit 'Create Project', :class => 'btn btn-large' %>
    </div>
  </div>
  <% end %>
