<h1>Listing projects</h1>




<%= link_to "New Project", new_project_path, :"data-role" => "button" %>
<br>

<ul data-role="listview" data-inset="true">
<% @projects.each do |project| %>
   <li><a href= "<%= "/projects/#{project.id}" %>">
                
                <h3><%= project.name %></h3>
                <p><strong>Users: <%= project.users.count %></strong></p>
                <p><strong>Tasks: <%= project.tasks.count %></strong></p>
                
            </a></li>
<% end %>
</ul>    
