<h1>Join a Project</h1>

  <%= form_tag :action => "joinaction" %>
		<ul data-role="listview" data-inset="true">
	   <!-- TASK NAME -->
			<li data-role="fieldcontain">
				<%= label :name, "Project Name", :"for" => "project-join-projectname" %>
				<%= text_field :name, :id => "project-join-projectname", :placeholder => "Project Name" %>
			</li>
			
       <!-- DESCRIPTION -->
			<li data-role="fieldcontain">
				<%= label :name, "Project Password", :"for" => "project-join-projectpassword" %>
				<%= password_field :name, :id => "project-join-projectpassword", :placeholder => "Project Password" %>
			</li>
		<!-- CREATE-->
				<li class="ui-body ui-body-b">
					<%= submit_tag("Join") %>

				</li>
				
			</ul>
		
		</form>
