<p id="notice"><%= notice %></p>
<ul data-role="listview" data-inset="true">
 <!-- TASK NAME -->
 <li data-role="fieldcontain">
  <p>Project Name:</p>
  <h3><%= @project.name %></h3>
</li>
<li data-role="fieldcontain">
  <p>Users:</p>
  <% @project.users.each do |user| %>
  <div>
    <h3><%= user.name %>  
      <% if !user.user_roles.first.nil? %>
        <%= "(" + user.user_roles.first.name + ")" %>
      <% end %></h3>
  </div> 
  <% end %>
</li>

<li data-role="fieldcontain">
  <% if self.current_project != @project %>
    <%= button_to "Switch To", {:controller => :projects, :action => :switch, :via => :post}, :"data-role" => "button" %>
  <% end %>
  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><a href= <%= edit_project_path(@project) %> data-role="button" data-theme="c">Edit</a></div>
    <div class="ui-block-b"><%= button_to "Delete", @project, :"data-theme" => "delete", confirm: 'Are you sure?', :method => :delete %></div>
  </fieldset>
</li>

</ul>
