<p id="notice"><%= notice %></p>

<div class="posts-posts-show-title">
  <p>
    <h2><%= @post.title %></h2>
  </p>
</div>

<div class="posts-posts-show">
<p>
  <%= @post.content.html_safe %>
</p>

<p>
  <b>Post by:</b>
  <%= @post.name %>
</p>
</div>


<% if @post.comments.present? %>
  <br />
  <h4>Comments: </h4>
  <br />
  <%= render @post.comments %>
<% end %>
 
<h4>Add a comment:</h4>
<%= render "comments/form" %>

<% if @post.tags.present? %>
  <p>
    <b>Tags:</b>
    <%= join_tags(@post) %>
  </p>

<% end %>

<%= link_to 'Back', posts_path %>

<br />