<div class="hero-unit">
  <div class = "row">
    <div class="hspan6">
      <p id="notice"><%= notice %></p>

      <div class="posts-posts-show-title">
        <p>
          <h1><%= @post.title %></h1>
        </p>
      </div>

      <div class="posts-posts-show">
        <p>
          <%= @post.content.html_safe %>
        </p>
      </div>

      <p>
        <b>Post by:</b>
        <%= @post.name %>
      </p>

      <% if @post.tags.present? %>
      <p>
        <b><h4>Tags:</h4></b>
        <%= join_tags(@post) %>
      </p>
      <% end %>


      <br />
    </div>
  </div>
</div>