<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" id="navbar-container">
			<ul class="nav">
				<li class="dropdown">
					<% if other_projects == [] %>
						<a class="dropdown-toggle" data-toggle="dropdown" id="header-current-project-name" href="<%= self.current_project.nil? ? new_project_path : "#" %>">
							<%= self.current_project.nil? ? "No Project" : self.current_project.capitalized_name %>
		   				</a>
					<% else %>
							<a class="dropdown-toggle" data-toggle="dropdown" id="header-current-project-name" href="#">
								<%= self.current_project.nil? ? "No Project" : self.current_project.capitalized_name %>
								<b class="caret"></b>
			   				</a>
			   				<ul class="dropdown-menu">
			   					<% other_projects.each do |project| %>
			   						<%= link_to project.capitalized_name, project, :method => :post %>
			   					<% end %>
			   				</ul>
					<% end %>
				</li>
				<li class="divider-vertical"></li>
				<li>
					<%= image_tag "header/Icon-Notifications.png", :id => "header-notifications-icon" %>
				</li>
			</ul>
			<ul class="nav pull-right">
				<li>
					<% if self.unread_notification_count == 0 %>
						<a id="notifications" href="<%= url_for(:controller => :notifications, :action => :index) %>">
							<span class="badge"><i class="icon-exclamation-sign"></i>0</span>
						</a>
					<% else %>
						<a id="notifications" href="<%= url_for(:controller => :notifications, :action => :index) %>">
							<span class="badge badge-error"><i class="icon-exclamation-sign"></i><%= self.unread_notification_count %></span>
						</a>
					<% end %>
				</li>
				<li>
					<button class="btn btn-success" id="invite-button">
						Invite
						<i class="icon-plus icon-white"></i>
					</button>
				</li>
				<% if self.connected_to_google? %>
					<li id="profile-picture">
						<% unless self.current_user.google_user_information.profile_picture.nil? %>
							<%= image_tag self.current_user.google_user_information.profile_picture %>
						<% end %>
					</li>
				<% end %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<%= self.current_user.to_s %>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to "My Profile", self.current_user %></li>
						<li><a href="/#">Settings</a></li>
						<li><a href="/signout">Log Out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<%= render "/layouts/invite_modal" %>