<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" id="navbar-container">
			<ul class="nav">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<%= self.current_project.nil? ? "No Project" : self.current_project.capitalized_name %>
						<% if self.current_user.projects.count > 1 %>
								<b class="caret"></b>
				   				</a>

								<ul class="dropdown-menu">
									<% self.current_user.projects.each do |project| %>
										<% if project != self.current_project %>
											<li><%= link_to project.capitalized_name, project, :method => :post %></li>
										<% end %>
									<% end %>
								</ul>
						<% else %>
							</a>
						<% end %>
					</ul>
				</li>
			</ul>
			<ul class="nav pull-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<%= self.current_user.to_s %>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/settings">Settings</a></li>
						<li><a href="/signout">Log Out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>




<!--<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div id="signout">
				<%= link_to(signout_path, :remote => false) do %>
				<div class="header-link">
					Sign Out
				</div>
				<% end %>
			</div>
			<div id="username">
				<%= link_to(self.current_user, :remote => false) do %>
				<div class="header-link">
					<%= current_user.name %>
				</div>
				<% end %>
			</div>

		</div>
	</div>
</header>-->
