<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" id="navbar-container">
			<ul class="nav">
				<li>
					<%= link_to root_url, :id => "header-logo" do %>
						<%= image_tag "global/logo.png" %>
					<% end %>
				</li>
				<li class="divider-vertical"></li>
				<li class="dropdown">
					<% if other_projects == [] %>
						<a class="dropdown-toggle" <% if self.current_project.nil? %> style="color: #DA4F49 !important"<% end %> data-toggle="dropdown" id="header-current-project-name" href="<%= self.current_project.nil? ? new_project_path : "#" %>">
							<%= self.current_project.nil? ? "No Project" : self.current_project.capitalized_name %>
		   				</a>
					<% else %>
							<a class="dropdown-toggle" data-toggle="dropdown"  <% if self.current_project.nil? %> style="color: #DA4F49 !important"<% end %> id="header-current-project-name" href="#">
								<%= self.current_project.nil? ? "No Project" : self.current_project.capitalized_name %>
								<b class="caret"></b>
			   				</a>
			   				<ul class="dropdown-menu">
			   					<% other_projects.each do |project| %>
			   						<%= link_to project.capitalized_name, project, :method => :post %>
			   					<% end %>
			   				</ul>
					<% end %>
				</li>
				<li class="divider-vertical"></li>
				<li>
					<%= link_to(notifications_path, :id => "header-notifications") do %>
						<span class="badge <%= extra_header_notification_badge_classes %>" id="header-notification-badge"
							<i class="icon-exclamation-sign"></i>
							<text>
								<%= self.unread_notification_count %>
							</text>
						</span>
						<%= image_tag("header/Icon-Notifications.png", :id => "header-notifications-icon") %>
					<% end %>
				</li>
			</ul>
			<ul class="nav pull-right">
				<li>
					<button class="btn btn-success" id="invite-button">
						Invite
						<i class="icon-plus icon-white"></i>
					</button>
				</li>
				<li id="profile-picture">
						<img src="<%= profile_picture_url %>"></img>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<%= self.current_user.to_s %>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to "My Profile", self.current_user %></li>
						<% if !self.current_user.linked_facebook? %>
						        <li><%= link_to "Link Facebook", signin_path(:facebook), :rel => 'external' %></li>
						<% end %>
						<% if !self.current_user.linked_google? %>
						        <li><%= link_to "Link Google", signin_path(:google), :rel => 'external' %></li>
						<% end %>
						<li><a href="/#">Settings</a></li>
						<li><a href="/signout">Log Out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<%= render "/layouts/invite_modal" %>