<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" id="navbar-container">
			<ul class="nav">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<%= self.current_project.nil? ? "No Project" : self.current_project.capitalized_name %>
						<% if self.current_user.projects.count > 1 %>
								<b class="caret"></b>
				   				</a>

								<ul class="dropdown-menu">
									<% self.current_user.projects.each do |project| %>
										<% if project != self.current_project %>
											<li><%= link_to project.capitalized_name, project, :method => :post %></li>
										<% end %>
									<% end %>
								</ul>
						<% else %>
							</a>
						<% end %>
					</ul>
				</li>
			</ul>
			<ul class="nav pull-right">
				<li>
					<button class="btn btn-success" id="invite-button">
						Invite
						<i class="icon-plus icon-white"></i>
					</button>
				</li>
				<% if self.connected_to_google? %>
					<li id="profile-picture">
						<% unless self.current_user.google_user_information.profile_picture.nil? %>
							<%= image_tag self.current_user.google_user_information.profile_picture %>
						<% end %>
					</li>
				<% end %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<%= self.current_user.to_s %>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/#">Settings</a></li>
						<li><a href="/signout">Log Out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<%= render "/layouts/invite_modal" %>