  <% if not self.current_project.nil? %>
      <nav id="sidebar">
          <div class="sidebar_item" >
            <a class="sidebar_item_link" href=<%= tasks_path %>>
              <%= image_tag("sidebar/icon_tasks.png") %>
              Tasks
          </a>
      </div>

      <div class="sidebar_item">
        <a class= "sidebar_item_link" href="/contacts/all">
          <%= image_tag "sidebar/icon_crew.png" %>
          Crew
      </a>
    </div>

    <div class="sidebar_item" >
        <a class="sidebar_item_link" href=<%= invitations_path %>>
          <%= image_tag("sidebar/icon_invitations.png") %>
          Invitations
      </a>
    </div>


    <div class="sidebar_item">
        <a class= "sidebar_item_link" href="<%= assets_path %>" >
          <%= image_tag "sidebar/icon_assets.png" %>
          Assets
      </a>
    </div>
    </nav>
<% else %>
    <div id="sidebar-no-project"></div>
<% end %>