  <nav id="sidebar">

      <div class="sidebar_item" >
        <a class="sidebar_item_link" href=<%= invitations_path %>>
          <%= image_tag("sidebar/Icon-Invitations.png") %>
          Invitations
        </a>
      </div>
      <!-- Disable button if not in a project -->
      <% if self.current_project.nil? %>
      <div class="sidebar_item_disabled" >
          <%= image_tag("sidebar/Icon-Tasks.png") %>
          Tasks
      </div>

      <% else %>
      <div class="sidebar_item" >
        <a class="sidebar_item_link" href=<%= tasks_path %>>
          <%= image_tag("sidebar/Icon-Tasks.png") %>
          Tasks
        </a>
      </div>
      <% end %>

      <div class="sidebar_item" >
        <a class="sidebar_item_link" href=<%= projects_path %>>
          <%= image_tag "sidebar/Icon-Folder.png" %>
          Projects
        </a>
      </div>
      <div class="sidebar_item">
        <a class= "sidebar_item_link" href="/crew">
          <%= image_tag "sidebar/Icon-People.png" %>
          People
        </a>
      </div>

      <!-- Disable button if not in a project -->
      <% if self.current_project.nil? %>
      <div class="sidebar_item_disabled" >
          <%= image_tag("sidebar/Icon-Assets.png") %>
          Assets
      </div>

      <% else %>
      <div class="sidebar_item">
        <a class= "sidebar_item_link" href="<%= assets_path %>" >
          <%= image_tag "sidebar/Icon-Assets.png" %>
          Assets
        </a>
      </div>
      <% end %>
  </nav>