  <nav class="sidebar">

      <div id="logo">
        <a href="/">
            <%= image_tag "header/logo.png" %>
      </div>


      <div class="sidebar_item" >
        <a class="sidebar_item_link" href=<%= tasks_path %>>
          <%= image_tag("sidebar/Icon-Tasks.png") %>
          Tasks
        </a>
      </div>

      <div class="sidebar_item" >
        <a class="sidebar_item_link" href=<%= projects_path %>>
          <%= image_tag "sidebar/Icon-Folder.png" %>
          Projects
        </a>
      </div>
      <div class="sidebar_item" id="application-crew-link">
        <a class= "sidebar_item_link" href="/contacts/all">
          <%= image_tag "sidebar/Icon-People.png" %>
          People
        </a>
      </div>
  </nav>