<!DOCTYPE html>
<html>
  <head>
    <title>Stagecoach</title>
    <%= stylesheet_link_tag    "mobile/mobile" %>
    <%= javascript_include_tag "mobile/jquery-1.7.1.min" %>
    <%= javascript_include_tag "mobile/globals" %>
    <%= javascript_include_tag "mobile/jquery.mobile-1.0" %>
    <%= javascript_include_tag "mobile/mobile" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div data-role="page">
      <!-- start container -->
      <div data-role="header">
        <%= render 'layouts/header' %>
      </div>
      <!--<p class="alert"><%= alert %></p>-->
      <div data-role="content">
        <%= yield %>
      </div>
      <div data-role="footer">
        <%= render 'layouts/footer' %>
      </div>
    </div>
    <!-- end container -->
  </body>
</html>
