<!DOCTYPE html>
<html>
<head>
  <title>Stagecoach</title>
  <%= stylesheet_link_tag    "application/application" %>
  <%= javascript_include_tag "application/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class ="container">
    <!-- start container -->
  <%= render 'layouts/header' %>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <%= render 'layouts/footer' %>
  </div>
  <!-- end container -->
</body>
</html>
