<!DOCTYPE html>
<html>
<head>
  <title>Stagecoach</title>
  <%= stylesheet_link_tag    'desktop/desktop' %>
  <%= stylesheet_link_tag    'shared/shared' %>
  <%= javascript_include_tag 'desktop/desktop' %>
  <%= javascript_include_tag 'shared/shared' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if self.current_user? %>
    <%= render 'layouts/header2' %>
  <% else %>
    <%= render 'layouts/header' %>
  <% end %>
  <% if self.current_user? %>
      <nav class="sidebar">
        <div class="sidebar-content">
          <ul>
            <li>Thing</li>
            <li>Another Thing</li>
          </ul>
        </div>
      </nav>
    <% end %>
  <div class ="container">
    <!-- start container -->
    <%= yield %>
  </div>
  <!-- end container -->
  <%= render 'layouts/footer' %>
</body>
</html>
