<!DOCTYPE html>
<html>
<head>
  <title>Stagecoach</title>
  <%= stylesheet_link_tag    *Dir[Rails.root.join("app/assets/stylesheets/desktop/**/*.css")] %>
    <%= javascript_include_tag *Dir[Rails.root.join("app/assets/javascripts/desktop/**/*.js")] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class ="container">
    <!-- start container -->
  <%= render 'layouts/header' %>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <%= render 'layouts/footer' %>
  </div>
  <!-- end container -->
</body>
</html>
